<header class="relative z-50 h-16 flex items-center flex-wrap sm:justify-start sm:flex-nowrap w-full bg-background-950 shadow-xl text-md py-3">
  <nav class=" max-w-[90rem] w-full mx-auto sm:flex sm:items-center sm:justify-between">
    <div class="flex items-center justify-between">
      <a class="mx-4 flex-none text-xl font-semibold focus:outline-none focus:opacity-80" href="" aria-label="Brand">
        <span class="inline-flex items-center gap-x-2 text-xl font-semibold">
          <img class="w-10 h-auto" src="logo.png" alt="Logo">
        </span>
      </a>
      <div class="sm:hidden bg-background-950">
        <button type="button"
          class="mx-4 py-2 hs-collapse-toggle relative size-10 flex justify-center items-center gap-x-2 rounded-lg  shadow-sm hover:bg-background-900 focus:outline-none focus:bg-background-900  disabled:opacity-50 disabled:pointer-events-none"
          id="hs-navbar-example-collapse" aria-expanded="false" aria-controls="hs-navbar-example"
          aria-label="Toggle navigation" data-hs-collapse="#hs-navbar-example">
          <svg class="hs-collapse-open:hidden shrink-0 size-6" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
            stroke-linejoin="round">
            <line x1="3" x2="21" y1="6" y2="6" />
            <line x1="3" x2="21" y1="12" y2="12" />
            <line x1="3" x2="21" y1="18" y2="18" />
          </svg>
          <svg class="hs-collapse-open:block hidden shrink-0 size-6" xmlns="http://www.w3.org/2000/svg" width="24"
            height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
            stroke-linejoin="round">
            <path d="M18 6 6 18" />
            <path d="m6 6 12 12" />
          </svg>
          <span class="sr-only">Toggle navigation</span>
        </button>
      </div>
    </div>
    <div id="hs-navbar-example"
      class="hidden hs-collapse overflow-hidden transition-all duration-300 basis-full grow sm:block bg-background-950 shadow-lg sm:shadow-none  p-4 sm:py-2"
      aria-labelledby="hs-navbar-example-collapse">
      <div class="flex flex-col gap-8 mt-5 sm:flex-row sm:items-center sm:justify-end sm:mt-0 sm:ps-5">
        <a *ngFor="let item of navbarItems" class="font-medium text-white-50 hover:text-gray-400 focus:outline-none focus:text-gray-400"
          [href]="item.url">{{ item.name }}</a>
      </div>
    </div>
  </nav>
</header>