<!-- Logo component -->
<div 
    class="flex items-center justify-center text-size-3 font-bold text-gray-800 dark:text-white" 
    [innerHTML]="logo">
    <svg id="eUcYyEpnqP51" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 640 480" shape-rendering="geometricPrecision" text-rendering="geometricPrecision"><text dx="0" dy="0" font-family="&quot;eUcYyEpnqP51:::Roboto Mono&quot;" font-size="260" font-weight="400" transform="translate(0 349.189784)" stroke-width="0"><tspan y="0" font-weight="400" paint-order="fill markers stroke" stroke-width="0"><![CDATA[
        {VR} 
        ]]></tspan></text><path d="" fill="none" stroke="#3f5787" stroke-width="1.28"/>
        </svg>
        
</div>