@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: #0e0e0e; 
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gradient {
    /*background: linear-gradient(90deg, hsla(52, 82%, 52%, 1) 0%, hsla(1, 92%, 47%, 1) 100%);*/
    background: #40E0D0;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #FF0080, #FF8C00, #40E0D0);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #FF0080, #FF8C00, #40E0D0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    -webkit-background-clip: text; /* Esto es necesario para hacer el texto transparente en navegadores WebKit (Chrome, Safari, etc.) */
    color: transparent; /* Hace que el texto sea transparente para que el gradiente de fondo sea visible a través de él */
    display: inline-block; /* Asegura que el fondo del gradiente se aplique solo al texto y no al contenedor completo */
}   